Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

pycln:
  name: pycln
  entry: pycln
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

Remove
  src/steamship/data/plugin.py
  src/steamship/data/plugin_instance.py
  src/steamship/data/plugin_version.py
  tests/plugin_e2e/test_e2e_get_training_parameters.py
  tests/plugin_e2e/test_e2e_trainable_tagger.py
  tests/reports/pytest.xml
  tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Merge
  DEVELOPING.md
Due: proselint

Dotfiles
  .coverage
  .tox/.package.lock
Due: none

Merge
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/assets/plugins/trainable_taggers/__init__.py
  tests/reports/pytest.xml
  tests/tests/plugin/integration/test_e2e_get_training_parameters.py
  tests/tests/plugin/integration/test_e2e_trainable_tagger.py
  tests/tests/plugin/unit/test_trainable_tagger.py
  tests/tests/plugin/unit/trainable/test_model_checkpoints.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

I think I added these by mistake
  .coverage
  .gitignore
  .tox/.package.lock
Due: none

Better error handling
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix snake-camel bugs
  src/steamship/app/response.py
  src/steamship/base/binary_utils.py
  src/steamship/data/app.py
  src/steamship/data/corpus.py
  src/steamship/data/file.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_instance.py
  src/steamship/data/plugin_version.py
  src/steamship/data/space.py
  src/steamship/plugin/outputs/training_parameter_plugin_output.py
  src/steamship/utils/localstack.py
  tests/assets/plugins/importers/plugin_corpus_importer.py
  tests/assets/plugins/importers/plugin_file_importer.py
  tests/assets/plugins/taggers/plugin_configurable_tagger.py
  tests/assets/plugins/taggers/plugin_embedder.py
  tests/assets/plugins/taggers/plugin_parser.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/reports/pytest.xml
  tests/tests/data/test_plugins.py
  tests/tests/plugin/integration/test_e2e_corpus_importer.py
  tests/tests/plugin/integration/test_e2e_get_training_parameters.py
  tests/tests/plugin/integration/test_e2e_trainable_tagger.py
  tests/tests/plugin/unit/reports/pytest.xml
  tests/tests/plugin/unit/test_blockifier.py
  tests/tests/plugin/unit/test_corpus_importer.py
  tests/tests/plugin/unit/test_file_importer.py
  tests/tests/plugin/unit/test_tagger.py
  tests/tests/plugin/unit/test_trainable_tagger.py
  tests/utils/deployables.py
  tests/utils/random.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make black happy
  src/steamship/data/plugin_instance.py
  tests/tests/data/test_plugins.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make black happy
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

HTTP Status
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Better error handling in HF helper (#69)
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add 'get' to pluginInstance (#65)
  src/steamship/data/plugin_instance.py
  tests/tests/data/test_plugins.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Hotfix: Add host.docker.internal to local dev exceptions
  src/steamship/base/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove vscode folder and clean gitignore
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

Remove .idea folder
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/python-client.iml
  .idea/vcs.xml
  .idea/webResources.xml
Due: none

Hotfix: Fix test_zip_archives
  tests/utils/test_zip_archives.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Log full stack traces instead of error messages
  src/steamship/app/lambda_handler.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove response expect for lambda deployment issue
  src/steamship/base/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

No response expectations (#71)
  src/steamship/app/lambda_handler.py
  src/steamship/base/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Temp push
  src/steamship/app/response.py
  src/steamship/base/tasks.py
  src/steamship/client/operations/corpus_importer.py
  src/steamship/client/operations/tagger.py
  src/steamship/data/block.py
  src/steamship/data/embeddings.py
  src/steamship/data/file.py
  src/steamship/data/tags/tag.py
  src/steamship/plugin/outputs/model_checkpoint.py
  src/steamship/plugin/service.py
  tests/reports/pytest.xml
  tests/tests/plugin/integration/test_e2e_corpus_importer.py
  tests/utils/test_enums.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Hotfix: Put back setup.py
  setup.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix pypi building
  pyproject.toml
  setup.cfg
  tox.ini
Due: none

Fix with pre-commit
  setup.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add timeout to hf helper
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add timeout to hf helper (#73)
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Additional error retrying in hf helper
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

DIFF
  DEVELOPING.md
  tests/reports/pytest.xml
Due: proselint

Example of a trainable tagger
  tests/assets/plugins/taggers/plugin_third_party_trainable_tagger.py
  tests/reports/pytest.xml
  tests/tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Ignore the pytest XML results
  .gitignore
  tests/reports/pytest.xml
Due: none

Utterances was accidentally removed from the repository, probably due to a gitignore rule
  .gitignore
  tests/assets/utterances.csv
Due: none

Postpone calling dict() when creating a Response
  src/steamship/base/binary_utils.py
  tests/tests/app/unit/test_response.py
  tests/tests/data/utterances.csv
  tests/tests/plugin/unit/test_blockifier.py
  tests/tests/plugin/unit/test_corpus_importer.py
  tests/tests/plugin/unit/test_file_importer.py
  tests/tests/plugin/unit/test_tagger.py
  tests/tests/plugin/unit/test_trainable_tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Use pydantic across codebase
  src/steamship/base/client.py
  src/steamship/base/configuration.py
  src/steamship/plugin/outputs/model_checkpoint.py
  tests/utils/test_enums.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Clean up Configuration class
  pyproject.toml
  requirements.txt
  src/steamship/app/lambda_handler.py
  src/steamship/base/client.py
  src/steamship/base/configuration.py
  src/steamship/base/utils.py
  src/steamship/client/client.py
  src/steamship/plugin/outputs/model_checkpoint.py
  tests/tests/plugin/unit/test_trainable_tagger.py
  tests/utils/test_enums.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Introduce pydantic class that supports both camelCase and snake_case
  src/steamship/base/configuration.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make response raise an exception when erronious data is accessed
  .pre-commit-config.yaml
  src/steamship/base/client.py
  src/steamship/base/response.py
  src/steamship/base/tasks.py
  tests/reports/pytest.xml
  tests/tests/base/test_response.py
  tests/tests/base/test_task.py
  tests/tests/client/operations/test_embedding_index.py
  tests/tests/client/operations/test_embedding_index_snapshot.py
  tests/tests/data/test_plugins.py
  tests/tests/data/test_space.py
  tests/tests/plugin/unit/test_response_post_update.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Clean using pre-commit hooks
  src/steamship/base/configuration.py
  src/steamship/plugin/outputs/model_checkpoint.py
  tests/tests/plugin/unit/test_trainable_tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Clean using pre-commit hooks
  src/steamship/base/configuration.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix signed url bug with AWS
  src/steamship/utils/signed_urls.py
  tests/utils/test_signed_urls.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pycln: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  proselint: any of: \.(md|rst)$
