Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

.pre-commit-config.yaml:

# https://pre-commit.com
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
        types: [python]
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black --line-length 100
        require_serial: true
        language: system
        types: [python]
#      - id: shellcheck
#        name: shellcheck
#        entry: shellcheck --check-sourced --shell=bash
#        language: system
#        types: [shell]
      - id: pycln
        name: pycln
        entry: pycln
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types: [python]
      - id: proselint
        name: proselint
        entry: env XDG_CONFIG_HOME=.vscode proselint
        language: system
        files: \.(md|rst)$

Fix linting issues
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove delete methods
  src/steamship/data/app.py
  src/steamship/data/app_version.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_version.py
  tests/steamship_tests/data/test_app.py
  tests/steamship_tests/data/test_app_version.py
  tests/steamship_tests/data/test_plugins.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Linting
  src/steamship/base/client.py
  src/steamship/base/configuration.py
  src/steamship/base/response.py
  src/steamship/base/tasks.py
  src/steamship/client/client.py
  src/steamship/data/app_instance.py
  src/steamship/data/embeddings.py
  src/steamship/data/file.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_instance.py
  src/steamship/data/space.py
  src/steamship/data/user.py
  tests/steamship_tests/client/operations/test_blockify.py
  tests/steamship_tests/client/operations/test_embed_file.py
  tests/steamship_tests/client/operations/test_embedding_index.py
  tests/steamship_tests/client/operations/test_tag.py
  tests/steamship_tests/data/test_app_version.py
  tests/steamship_tests/data/test_space.py
  tests/steamship_tests/data/test_task_comments.py
  tests/steamship_tests/plugin/integration/test_e2e_async_blockifier.py
  tests/steamship_tests/plugin/integration/test_e2e_blockifier.py
  tests/steamship_tests/plugin/integration/test_e2e_csv_blockifier.py
  tests/steamship_tests/plugin/integration/test_e2e_get_training_parameters.py
  tests/steamship_tests/plugin/integration/test_e2e_tsv_blockifier.py
  tests/steamship_tests/plugin/unit/test_response_post_update.py
  tests/steamship_tests/plugin/unit/trainable/util.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

More docs
  LICENSE
  README.md
  docs/Makefile
  docs/_static/favicon.ico
  docs/conf.py
  docs/index.rst
  docs/packages/index.rst
  docs/plugins/blockifiers/index.rst
  docs/plugins/blockifiers/using.rst
  docs/plugins/developing/environment-setup.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/thinking-in-blocks-and-tags.rst
  docs/plugins/embedders/index.rst
  docs/plugins/file_importers/index.rst
  docs/plugins/file_importers/using.rst
  docs/plugins/index.rst
  docs/plugins/taggers/index.rst
  docs/plugins/taggers/using.rst
  docs/readme.rst
  docs/requirements.txt
  docs/workspaces/creating.rst
  docs/workspaces/data_model/blocks.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/data_model/index.rst
  docs/workspaces/data_model/tags.rst
  docs/workspaces/index.rst
  docs/workspaces/queries/index.rst
  docs/workspaces/uploading.rst
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

More docs (#161)
  LICENSE
  README.md
  docs/Makefile
  docs/_static/favicon.ico
  docs/conf.py
  docs/index.rst
  docs/packages/index.rst
  docs/plugins/blockifiers/index.rst
  docs/plugins/blockifiers/using.rst
  docs/plugins/developing/environment-setup.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/thinking-in-blocks-and-tags.rst
  docs/plugins/embedders/index.rst
  docs/plugins/file_importers/index.rst
  docs/plugins/file_importers/using.rst
  docs/plugins/index.rst
  docs/plugins/taggers/index.rst
  docs/plugins/taggers/using.rst
  docs/readme.rst
  docs/requirements.txt
  docs/workspaces/creating.rst
  docs/workspaces/data_model/blocks.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/data_model/index.rst
  docs/workspaces/data_model/tags.rst
  docs/workspaces/index.rst
  docs/workspaces/queries/index.rst
  docs/workspaces/uploading.rst
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Updated testing info
  docs/_static/Steamship-symbol-dark.png
  docs/_static/Steamship-symbol-light.png
  docs/api/steamship.plugin.rst
  docs/conf.py
  docs/license.rst
  docs/plugins/blockifiers/index.rst
  docs/plugins/blockifiers/using.rst
  docs/plugins/developing/async-plugins.rst
  docs/plugins/developing/deploying.rst
  docs/plugins/developing/environment-setup.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/quick-setup.rst
  docs/plugins/developing/steamship-manifest.rst
  docs/plugins/developing/testing.rst
  docs/plugins/index.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/uploading.rst
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Updated testing info (#162)
  docs/_static/Steamship-symbol-dark.png
  docs/_static/Steamship-symbol-light.png
  docs/api/steamship.plugin.rst
  docs/conf.py
  docs/license.rst
  docs/plugins/blockifiers/index.rst
  docs/plugins/blockifiers/using.rst
  docs/plugins/developing/async-plugins.rst
  docs/plugins/developing/deploying.rst
  docs/plugins/developing/environment-setup.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/quick-setup.rst
  docs/plugins/developing/steamship-manifest.rst
  docs/plugins/developing/testing.rst
  docs/plugins/index.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/uploading.rst
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

More docs
  CHANGELOG.rst
  docs/authentication.rst
  docs/http_operation.rst
  docs/index.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/quick-setup.rst
  docs/plugins/embedders/developing.rst
  docs/plugins/embedders/using.rst
  docs/plugins/taggers/index.rst
  docs/workspaces/creating.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/index.rst
Due: proselint

More docs (#163)
  CHANGELOG.rst
  docs/authentication.rst
  docs/http_operation.rst
  docs/index.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/quick-setup.rst
  docs/plugins/embedders/developing.rst
  docs/plugins/embedders/using.rst
  docs/plugins/taggers/index.rst
  docs/workspaces/creating.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/index.rst
Due: proselint

More docs
  docs/developing/async-plugins.rst
  docs/developing/configuration.rst
  docs/developing/deploying.rst
  docs/developing/developing-packages.rst
  docs/developing/developing-plugins.rst
  docs/developing/developing.rst
  docs/developing/environment-setup.rst
  docs/developing/index.rst
  docs/developing/project-creation.rst
  docs/developing/steamship-manifest.rst
  docs/developing/storing-secrets.rst
  docs/developing/testing.rst
  docs/packages/index.rst
  docs/packages/using.rst
  docs/plugins/blockifiers/developing.rst
  docs/plugins/developing/async-plugins.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/quick-setup.rst
  docs/plugins/index.rst
Due: proselint

More docs
  docs/developing/async-plugins.rst
  docs/developing/deploying.rst
  docs/developing/developing-packages.rst
  docs/developing/developing-plugins.rst
  docs/developing/index.rst
  docs/developing/project-creation.rst
  docs/developing/steamship-manifest.rst
  docs/index.rst
  docs/packages/index.rst
  docs/plugins/blockifiers/developing.rst
  docs/plugins/embedders/developing.rst
  docs/plugins/file_importers/developing.rst
  docs/plugins/index.rst
  docs/plugins/taggers/developing.rst
  docs/workspaces/index.rst
Due: proselint

More docs (#164)
  docs/developing/async-plugins.rst
  docs/developing/configuration.rst
  docs/developing/deploying.rst
  docs/developing/developing-packages.rst
  docs/developing/developing-plugins.rst
  docs/developing/developing.rst
  docs/developing/environment-setup.rst
  docs/developing/index.rst
  docs/developing/project-creation.rst
  docs/developing/steamship-manifest.rst
  docs/developing/storing-secrets.rst
  docs/developing/testing.rst
  docs/index.rst
  docs/packages/index.rst
  docs/packages/using.rst
  docs/plugins/blockifiers/developing.rst
  docs/plugins/developing/async-plugins.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/quick-setup.rst
  docs/plugins/embedders/developing.rst
  docs/plugins/file_importers/developing.rst
  docs/plugins/index.rst
  docs/plugins/taggers/developing.rst
  docs/workspaces/index.rst
Due: proselint

Remove base.response.Response return types
  src/steamship/base/__init__.py
  src/steamship/base/client.py
  src/steamship/base/request.py
  src/steamship/base/response.py
  src/steamship/base/tasks.py
  src/steamship/data/app_version.py
  src/steamship/data/block.py
  src/steamship/data/embeddings.py
  src/steamship/data/file.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_instance.py
  src/steamship/data/plugin_version.py
  src/steamship/data/tags/tag.py
  tests/steamship_tests/base/test_response.py
  tests/steamship_tests/client/operations/test_blockify.py
  tests/steamship_tests/client/operations/test_embedding_index.py
  tests/steamship_tests/client/operations/test_embedding_index_snapshot.py
  tests/steamship_tests/client/operations/test_tag_file.py
  tests/steamship_tests/data/test_file.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Use requirements.txt as a single source of truth for dependencies (#157)
  pyproject.toml
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Rename create_plugin to create_with_plugin
  src/steamship/data/file.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[SHIP-386] Split File.create and File.create_plugin to support future sync and async return (#158)
  src/steamship/data/file.py
  tests/steamship_tests/data/test_file.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer_by_url.py
  tests/steamship_tests/utils/file.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[SHIP-52] Test changes to accommodate space-scoped keys
  tests/steamship_tests/app/integration/test_app_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Changes for kind/name
  tests/steamship_tests/data/tags/test_file_tags.py
  tests/steamship_tests/data/test_block.py
  tests/steamship_tests/data/test_file.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer_by_url.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Test updates
  tests/assets/plugins/taggers/plugin_third_party_trainable_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/steamship_tests/data/test_block.py
  tests/steamship_tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_trainable_tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Change AppInstance.get/post to invoke; create AppInstance.get
  src/steamship/base/client.py
  src/steamship/data/app_instance.py
  tests/steamship_tests/app/integration/test_app_instance.py
  tests/steamship_tests/app/integration/test_configurable_app_instance.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer_by_url.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Additional test for static AppInstance.get
  src/steamship/data/app_instance.py
  tests/steamship_tests/app/integration/test_app_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Improve PR based on feedback
  src/steamship/base/configuration.py
  src/steamship/base/request.py
  src/steamship/data/file.py
  tests/steamship_tests/base/test_task.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer_by_url.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix tests
  requirements.txt
  setup.cfg
  src/steamship/app/lambda_handler.py
  src/steamship/data/file.py
  tests/assets/apps/demo_app.py
  tests/assets/plugins/blockifiers/async_blockifier.py
  tests/assets/plugins/blockifiers/csv_blockifier.py
  tests/steamship_tests/base/test_task.py
  tests/steamship_tests/plugin/integration/test_e2e_blockifier_markdown.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer_by_url.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix tests
  tests/steamship_tests/plugin/integration/test_e2e_file_importer_by_url.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Lint
  src/steamship/base/__init__.py
  src/steamship/base/request.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix tests
  src/steamship/base/__init__.py
  src/steamship/base/request.py
  src/steamship/base/response.py
  src/steamship/data/block.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Lint
  src/steamship/base/request.py
  src/steamship/data/block.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[SHIP-316] Delete deleting for app, plugin, appversion, pluginversion
  src/steamship/data/app.py
  src/steamship/data/app_version.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_version.py
  tests/steamship_tests/data/test_app.py
  tests/steamship_tests/data/test_app_version.py
  tests/steamship_tests/data/test_plugins.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Hotfix: Fix change in space-scope-key tests that likely snuck in as merge conflict
  tests/steamship_tests/app/integration/test_app_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Hotfix hotfix: Fixed test incorrectly
  tests/steamship_tests/app/integration/test_app_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix test; plugins no longer upsertable
  tests/steamship_tests/data/test_plugins.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix merge error
  tests/steamship_tests/app/integration/test_app_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove upsert from classes that are now not upsertable
  src/steamship/base/tasks.py
  src/steamship/data/app.py
  src/steamship/data/block.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_version.py
  src/steamship/data/tags/tag.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix test again
  tests/steamship_tests/app/integration/test_app_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix tests
  src/steamship/base/configuration.py
  src/steamship/data/space.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[SHIP-300] Add static .get to AppInstance; change app calls to .invoke (#167)
  src/steamship/base/client.py
  src/steamship/data/app_instance.py
  tests/steamship_tests/app/integration/test_app_instance.py
  tests/steamship_tests/app/integration/test_configurable_app_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

docs: fix a few typos
  docs/developing/async-plugins.rst
  docs/plugins/blockifiers/developing.rst
  docs/plugins/blockifiers/using.rst
Due: proselint
