Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

pycln:
  name: pycln
  entry: pycln
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

Rehydrate Blocks with a client object in generators
  src/steamship/plugin/generator.py
  tests/assets/plugins/generators/test_image_to_text_generator.py
  tests/steamship_tests/plugin/integration/test_e2e_generator.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Rehydrate Blocks with a client object in generators (#322)
  src/steamship/plugin/generator.py
  tests/assets/plugins/generators/test_image_to_text_generator.py
  tests/steamship_tests/plugin/integration/test_e2e_generator.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add workflow-dispatch to staging test
  .github/workflows/test-staging.yml
Due: none

Update test-main.yml
  .github/workflows/test-main.yml
Due: none

WIP
  scripts/create_engine_test_assets.py
  src/steamship/invocable/invocable_request.py
  tests/assets/packages/package_verifying_instance_init.py
  tests/assets/packages/package_with_failing_instance_init.py
  tests/assets/packages/package_with_instance_init.py
  tests/assets/plugins/generators/plugin_with_instance_init.py
  tests/steamship_tests/app/integration/test_instance_init.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Move instance init route into Invocable
  src/steamship/invocable/invocable.py
  tests/assets/packages/package_verifying_instance_init.py
  tests/steamship_tests/app/integration/test_instance_init.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Base instance init in invocable; fix up a bunch of tests
  src/steamship/client/steamship.py
  src/steamship/data/invocable_init_status.py
  src/steamship/data/package/package_instance.py
  src/steamship/data/plugin/plugin_instance.py
  src/steamship/invocable/invocable.py
  tests/assets/demo_package_spec.json
  tests/assets/packages/package_with_failing_instance_init.py
  tests/assets/packages/package_with_instance_init.py
  tests/assets/plugins/generators/plugin_with_instance_init.py
  tests/steamship_tests/app/integration/test_configurable_package_instance.py
  tests/steamship_tests/app/integration/test_instance_init.py
  tests/steamship_tests/app/unit/test_demo_app_spec.py
  tests/steamship_tests/plugin/integration/test_e2e_configurable_tagger.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  docs/api/steamship.base.rst
  docs/api/steamship.cli.rst
  docs/api/steamship.plugin.inputs.rst
  docs/api/steamship.plugin.outputs.rst
  docs/api/steamship.plugin.rst
  docs/api/steamship.rst
  docs/index.rst
  docs/plugins/blockifiers/developing.rst
  docs/plugins/blockifiers/using.rst
  docs/plugins/developing/index.rst
  docs/plugins/embedders/index.rst
  docs/plugins/embedders/using.rst
  docs/plugins/importers/using.rst
  docs/plugins/index.rst
  docs/plugins/taggers/index.rst
  docs/plugins/taggers/using.rst
  docs/plugins/using/blockifiers/index.rst
  docs/plugins/using/blockifiers/using.rst
  docs/plugins/using/embedders/index.rst
  docs/plugins/using/generators/index.rst
  docs/plugins/using/importers/index.rst
  docs/plugins/using/importers/using.rst
  docs/plugins/using/index.rst
  docs/plugins/using/taggers/index.rst
  docs/plugins/using/taggers/using.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/queries/index.rst
Due: proselint

Docs WIP
  docs/data/blocks.rst
  docs/data/file-lifecycle.png
  docs/data/files.rst
  docs/data/importing.rst
  docs/data/index.rst
  docs/data/queries/index.rst
  docs/data/tags.rst
  docs/data/workspaces.rst
  docs/favicon.ico
  docs/index.rst
  docs/packages/index.rst
  docs/plugins/developing/embedders.rst
  docs/plugins/developing/generators.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/taggers.rst
  docs/plugins/using/index.rst
  docs/workspaces/blockifying.rst
  docs/workspaces/data_model/blocks.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/data_model/index.rst
  docs/workspaces/index.rst
Due: proselint

Colors and fonts, fix some broken links
  docs/conf.py
  docs/data/importing.rst
  docs/data/index.rst
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

more WIP
  docs/data/blocks.rst
  docs/data/files.rst
  docs/data/index.rst
  docs/data/tags.rst
  docs/data/workspaces.rst
  docs/embedding-search/index.rst
  docs/index.rst
  docs/plugins/using/index.rst
  docs/plugins/using/taggers/using.rst
  docs/plugins/using/tasks.rst
Due: proselint

Super basic embedding page
  docs/data/blocks.rst
  docs/embedding-search/index.rst
  docs/plugins/using/tasks.rst
Due: proselint

Developing generators
  docs/embedding-search/index.rst
  docs/plugins/developing/generators.rst
  docs/plugins/developing/index.rst
Due: proselint

Accepting plugin configuration
  docs/plugins/developing/index.rst
Due: proselint

DALL-E page
  docs/packages/developing/index.rst
  docs/packages/developing/project-structure.rst
  docs/plugins/developing/index.rst
  docs/plugins/using/generators/dalle.rst
  docs/plugins/using/generators/index.rst
  docs/plugins/using/index.rst
Due: proselint

More WIP
  docs/index.rst
  docs/packages/developing/index.rst
  docs/plugins/using/embedders/index.rst
Due: proselint

add discord link
  docs/developing/index.rst
Due: proselint

Rework accepting configuration
  docs/developing/configuration.rst
  docs/packages/developing/project-structure.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/project-structure.rst
Due: proselint

GPT 4
  docs/plugins/using/generators/gpt4.rst
  docs/plugins/using/generators/index.rst
Due: proselint

Allow returning usage reports in plugin invocations
  src/steamship/plugin/outputs/block_and_tag_plugin_output.py
  src/steamship/plugin/outputs/embedded_items_plugin_output.py
  src/steamship/plugin/outputs/plugin_output.py
  src/steamship/plugin/outputs/raw_block_and_tag_plugin_output.py
  src/steamship/plugin/outputs/raw_data_plugin_output.py
  src/steamship/plugin/outputs/train_plugin_output.py
  src/steamship/plugin/outputs/training_parameter_plugin_output.py
  tests/assets/plugins/generators/test_generator.py
  tests/assets/plugins/generators/test_image_to_text_generator.py
  tests/assets/plugins/taggers/plugin_parser.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add test
  src/steamship/data/plugin/index_plugin_instance.py
  tests/steamship_tests/client/operations/test_embedding_index.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Use version while generating an `instance_handle` (#316)
  src/steamship/client/steamship.py
  src/steamship/utils/metadata.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[SHIP-611] Allow returning usage reports in plugin invocations (#325)
  src/steamship/plugin/outputs/block_and_tag_plugin_output.py
  src/steamship/plugin/outputs/embedded_items_plugin_output.py
  src/steamship/plugin/outputs/plugin_output.py
  src/steamship/plugin/outputs/raw_block_and_tag_plugin_output.py
  src/steamship/plugin/outputs/raw_data_plugin_output.py
  src/steamship/plugin/outputs/train_plugin_output.py
  src/steamship/plugin/outputs/training_parameter_plugin_output.py
  tests/assets/plugins/generators/test_generator.py
  tests/assets/plugins/generators/test_image_to_text_generator.py
  tests/assets/plugins/taggers/plugin_parser.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add reset function to index_plugin_instance (#306)
  src/steamship/data/plugin/index_plugin_instance.py
  src/steamship/utils/metadata.py
  tests/steamship_tests/client/operations/test_embedding_index.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove unused refresh_count var
  src/steamship/data/package/package_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Package and Plugin Instance initialization (#323)
  scripts/create_engine_test_assets.py
  src/steamship/client/steamship.py
  src/steamship/data/invocable_init_status.py
  src/steamship/data/package/package_instance.py
  src/steamship/data/plugin/plugin_instance.py
  src/steamship/invocable/invocable.py
  src/steamship/invocable/invocable_request.py
  tests/assets/demo_package_spec.json
  tests/assets/packages/package_verifying_instance_init.py
  tests/assets/packages/package_with_failing_instance_init.py
  tests/assets/packages/package_with_instance_init.py
  tests/assets/plugins/generators/plugin_with_instance_init.py
  tests/steamship_tests/app/integration/test_configurable_package_instance.py
  tests/steamship_tests/app/integration/test_instance_init.py
  tests/steamship_tests/app/unit/test_demo_app_spec.py
  tests/steamship_tests/plugin/integration/test_e2e_configurable_tagger.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add prompt and sampled tokens
  src/steamship/plugin/outputs/plugin_output.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add prompt and sampled tokens (#326)
  src/steamship/plugin/outputs/plugin_output.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Tests and changes for generators returning blocks of bytes
  src/steamship/data/block.py
  src/steamship/plugin/generator.py
  tests/assets/plugins/generators/test_generator_returns_bytes.py
  tests/steamship_tests/plugin/integration/test_e2e_generator.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Rename to upload_bytes
  src/steamship/data/block.py
  src/steamship/plugin/generator.py
  tests/assets/plugins/generators/test_generator_returns_bytes.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Create separate read url
  src/steamship/plugin/generator.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Tests and changes for generators returning blocks of bytes (#327)
  src/steamship/data/block.py
  src/steamship/plugin/generator.py
  tests/assets/plugins/generators/test_generator_returns_bytes.py
  tests/steamship_tests/plugin/integration/test_e2e_generator.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

feat: add paging to list operations in client SDK
  src/steamship/base/request.py
  src/steamship/base/response.py
  src/steamship/base/tasks.py
  src/steamship/data/embeddings.py
  src/steamship/data/file.py
  src/steamship/data/plugin/plugin.py
  src/steamship/data/workspace.py
  tests/steamship_tests/client/operations/test_embedding_index.py
  tests/steamship_tests/data/test_file.py
  tests/steamship_tests/data/test_plugins.py
  tests/steamship_tests/data/test_task_comments.py
  tests/steamship_tests/data/test_workspace.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

feat: add owner and workspace handles to invocation context
  src/steamship/invocable/invocable_request.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Generator block index list
  src/steamship/data/operations/generator.py
  src/steamship/data/plugin/plugin_instance.py
  tests/steamship_tests/plugin/integration/test_e2e_generator.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update generator docs
  docs/plugins/using/generators/index.rst
Due: proselint

Wait on embedder creation
  src/steamship/data/plugin/index_plugin_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

update tests to work in staging/prod
  tests/steamship_tests/data/test_plugins.py
  tests/steamship_tests/data/test_workspace.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

feat: add owner and workspace handles to invocation context (#329)
  src/steamship/invocable/invocable_request.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pycln: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  proselint: any of: \.(md|rst)$
