Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

.pre-commit-config.yaml:

# https://pre-commit.com
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
        types: [python]
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black --line-length 100
        require_serial: true
        language: system
        types: [python]
#      - id: shellcheck
#        name: shellcheck
#        entry: shellcheck --check-sourced --shell=bash
#        language: system
#        types: [shell]
      - id: pycln
        name: pycln
        entry: pycln
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types: [python]
      - id: proselint
        name: proselint
        entry: env XDG_CONFIG_HOME=.vscode proselint
        language: system
        files: \.(md|rst)$

Strengthen pre-commit hooks & disable hooks that fail for the current code state
  .coveragerc
  .flake8
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  pyproject.toml
  pytest.ini
  setup.cfg
  setup.py
  src/steamship/__init__.py
  src/steamship/base/client.py
  src/steamship/data/block.py
  tests/demo_apps/plugins/taggers/plugin_trainable_tagger.py
  tox.ini
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update DEVELOPING.md
  DEVELOPING.md
Due: proselint

Update DEVELOPING.md with instructions on how to use pre-commit
  DEVELOPING.md
Due: proselint

Add pre-commit checks to CI/CD
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Fix pre-commit in CI/CD
  .github/workflows/test.yml
Due: none

Add black to dependencies
  requirements.dev.txt
Due: none

Fix failing pre-commit hooks
  pyproject.toml
  src/steamship/__init__.py
  src/steamship/data/tags/__init__.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix pycln issue
  .github/workflows/test.yml
  src/steamship/__init__.py
  src/steamship/plugin/blockifier.py
  src/steamship/plugin/corpus_importer.py
  src/steamship/plugin/outputs/model_checkpoint.py
  src/steamship/plugin/trainable_model.py
  src/steamship/utils/signed_urls.py
  tests/demo_apps/plugins/blockifiers/blockifier.py
  tests/demo_apps/plugins/blockifiers/csv_blockifier.py
  tests/demo_apps/plugins/blockifiers/tsv_blockifier.py
  tests/demo_apps/plugins/importers/plugin_corpus_importer.py
  tests/demo_apps/plugins/importers/plugin_file_importer.py
  tests/demo_apps/plugins/taggers/plugin_configurable_tagger.py
  tests/demo_apps/plugins/taggers/plugin_embedder.py
  tests/demo_apps/plugins/taggers/plugin_parser.py
  tests/demo_apps/plugins/taggers/plugin_trainable_tagger.py
  tests/utils/test_signed_urls.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add hugging face helper
  requirements.txt
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Requested review changes
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Run pre-commit hooks
  src/steamship/app/response.py
  src/steamship/client/operations/corpus_importer.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
  src/steamship/utils/signed_urls.py
  tests/demo_apps/plugins/taggers/plugin_configurable_tagger.py
  tests/plugin_e2e/test_e2e_configurable_tagger.py
  tests/plugin_e2e/test_e2e_get_training_parameters.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Reset pre-commit config and delete empty test_corpus.py
  .pre-commit-config.yaml
  tests/data/test_corpus.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add missing test data
  tests/data/utterances.csv
Due: none

Add name to test suite
  .github/workflows/test.yml
Due: none

Add 'get' to pluginInstance
  src/steamship/data/plugin_instance.py
  tests/data/test_plugins.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add hugging face helper (#64)
  requirements.txt
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

add optionals
  src/steamship/data/plugin_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Apply pre-commit hooks
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[SHIP-163] Improve pre commit hooks (#63)
  .coveragerc
  .flake8
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  DEVELOPING.md
  docs/license.rst
  pyproject.toml
  pytest.ini
  requirements.dev.txt
  setup.cfg
  setup.py
  src/steamship/__init__.py
  src/steamship/base/client.py
  src/steamship/data/tags/__init__.py
  src/steamship/plugin/corpus_importer.py
  src/steamship/plugin/outputs/model_checkpoint.py
  src/steamship/utils/huggingface_helper.py
  src/steamship/utils/signed_urls.py
  tests/base/test_task.py
  tests/data/test_corpus.py
  tests/data/utterances.csv
  tests/demo_apps/plugins/blockifiers/blockifier.py
  tests/demo_apps/plugins/blockifiers/csv_blockifier.py
  tests/demo_apps/plugins/blockifiers/tsv_blockifier.py
  tests/demo_apps/plugins/importers/plugin_corpus_importer.py
  tests/demo_apps/plugins/importers/plugin_file_importer.py
  tests/demo_apps/plugins/taggers/plugin_configurable_tagger.py
  tests/demo_apps/plugins/taggers/plugin_embedder.py
  tests/demo_apps/plugins/taggers/plugin_parser.py
  tests/demo_apps/plugins/taggers/plugin_trainable_tagger.py
  tests/utils/test_signed_urls.py
  tox.ini
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Hotfix tests
  tests/base/test_binary_utils.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix recursive __repr__ bug for Client -> Tasks
  src/steamship/base/client.py
  src/steamship/base/error.py
  src/steamship/client/tasks.py
  src/steamship/plugin/blockifier.py
  src/steamship/plugin/tagger.py
  src/steamship/plugin/trainable_model.py
  tests/client/operations/test_embed_file.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  src/steamship/app/lambda_handler.py
  src/steamship/base/client.py
  src/steamship/base/configuration.py
  src/steamship/client/client.py
  src/steamship/data/file.py
  src/steamship/data/plugin_instance.py
  src/steamship/data/space.py
  src/steamship/extension/file.py
  src/steamship/plugin/blockifier.py
  src/steamship/plugin/inputs/export_plugin_input.py
  src/steamship/plugin/inputs/train_plugin_input.py
  src/steamship/plugin/inputs/training_parameter_plugin_input.py
  src/steamship/plugin/outputs/model_checkpoint.py
  src/steamship/plugin/outputs/training_parameter_plugin_output.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
  src/steamship/plugin/trainable_model.py
  src/steamship/utils/localstack.py
  src/steamship/utils/signed_urls.py
  src/steamship/utils/zip_archives.py
  tests/demo_apps/plugins/trainable_taggers/__init__.py
  tests/demo_apps/plugins/trainable_taggers/plugin_third_party_trainable_tagger.py
  tests/demo_apps/plugins/trainable_taggers/plugin_trainable_tagger.py
  tests/plugin/test_service.py
  tests/plugin/test_trainable_tagger.py
  tests/plugin/trainable/test_model_checkpoints.py
  tests/plugin_e2e/test_e2e_get_training_parameters.py
  tests/plugin_e2e/test_e2e_trainable_tagger.py
  tests/utils/client.py
  tests/utils/test_client.py
  tests/utils/test_signed_urls.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Second pass
  .idea/misc.xml
  .idea/python-client.iml
  src/steamship/app/lambda_handler.py
  src/steamship/base/client.py
  src/steamship/base/configuration.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_instance.py
  src/steamship/data/space.py
  src/steamship/plugin/outputs/training_parameter_plugin_output.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
  src/steamship/utils/localstack.py
  src/steamship/utils/signed_urls.py
  tests/demo_apps/plugins/trainable_taggers/plugin_third_party_trainable_tagger.py
  tests/demo_apps/plugins/trainable_taggers/plugin_trainable_tagger.py
  tests/plugin/test_trainable_tagger.py
  tests/plugin/trainable/test_model_checkpoints.py
  tests/plugin_e2e/test_e2e_get_training_parameters.py
  tests/plugin_e2e/test_e2e_trainable_tagger.py
  tests/utils/client.py
  tests/utils/deployables.py
  tests/utils/test_client.py
  tests/utils/test_enums.py
  tests/utils/test_signed_urls.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Removing .idea
  .idea/misc.xml
  .idea/python-client.iml
Due: none

Fix merge errors
  .idea/misc.xml
  src/steamship/base/client.py
  src/steamship/data/space.py
  src/steamship/plugin/inputs/export_plugin_input.py
  src/steamship/plugin/inputs/training_parameter_plugin_input.py
  src/steamship/plugin/outputs/training_parameter_plugin_output.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove extraneous logging
  src/steamship/base/client.py
  tests/plugin_e2e/test_e2e_trainable_tagger.py
  tests/reports/pytest.xml
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix recursive __repr__ bug for Client -> Tasks (#66)
  src/steamship/base/client.py
  src/steamship/base/error.py
  src/steamship/client/tasks.py
  src/steamship/plugin/blockifier.py
  src/steamship/plugin/tagger.py
  src/steamship/plugin/trainable_model.py
  tests/client/operations/test_embed_file.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Hotfix: Make pip installable again
  pyproject.toml
  tests/plugin/test_file_importer.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove unused setup files
  LICENSE.txt
  setup.cfg
  setup.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Rename LICENSE file
  LICENSE
Due: none

Simplify .gitignore and ignore .idea folder
  .gitignore
Due: none

Remove from this branch'
  tests/demo_apps/plugins/trainable_taggers/plugin_third_party_trainable_tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Improve comments
  tests/demo_apps/plugins/trainable_taggers/plugin_trainable_tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Do not stop testing after first failure
  pyproject.toml
Due: none

WIP
  src/steamship/base/client.py
  src/steamship/base/configuration.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_instance.py
  src/steamship/data/plugin_version.py
  src/steamship/utils/localstack.py
Due: isort, black, pycln, flake8, mypy, pydocstyle
