Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

pycln:
  name: pycln
  entry: pycln
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

Add ship deploy and ship local
  src/steamship/cli/cli.py
  src/steamship/cli/local_server/handler.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

PR feedback / additional tests
  tests/steamship_tests/data/test_package.py
  tests/steamship_tests/data/test_plugins.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Encoding Bug (Validation Test) (#449)
  tests/steamship_tests/app/integration/test_configurable_package_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  README.md
Due: proselint

Dockerfile to build docsite on localhost (#424)
  docs/Dockerfile
Due: none

Update readme
  README.md
Due: proselint

emphasis
  README.md
Due: proselint

Add ability to delete packages plugins and their versions (#442)
  src/steamship/data/package/package.py
  src/steamship/data/package/package_version.py
  src/steamship/data/plugin/plugin.py
  src/steamship/data/plugin/plugin_version.py
  tests/steamship_tests/data/test_package.py
  tests/steamship_tests/data/test_plugins.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

PR Feedback
  README.md
Due: proselint

Update README.md
  README.md
Due: proselint

Update README (#457)
  README.md
Due: proselint

feat(agents): add functions-based agent to SDK
  src/steamship/agents/examples/my_functions_based_assistant.py
  src/steamship/agents/functional/__init__.py
  src/steamship/agents/functional/functions_based.py
  src/steamship/agents/functional/output_parser.py
  src/steamship/agents/llms/openai.py
  src/steamship/agents/schema/__init__.py
  src/steamship/agents/schema/action.py
  src/steamship/agents/schema/agent.py
  src/steamship/agents/schema/llm.py
  src/steamship/data/block.py
  src/steamship/data/tags/tag_constants.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

fixes: addresses some issues with message construction
  src/steamship/agents/examples/my_functions_based_assistant.py
  src/steamship/agents/functional/functions_based.py
  src/steamship/agents/functional/output_parser.py
  src/steamship/agents/llms/openai.py
  src/steamship/agents/react/output_parser.py
  src/steamship/agents/schema/__init__.py
  src/steamship/agents/schema/action.py
  src/steamship/agents/schema/agent.py
  src/steamship/agents/schema/llm.py
  src/steamship/agents/service/agent_service.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

undo plugin handle change
  src/steamship/agents/llms/openai.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Consolidate how the REPL handles output printing.
  src/steamship/utils/repl.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Consolidate how the REPL handles output printing.
  src/steamship/agents/examples/document_qa_agent.py
  src/steamship/agents/examples/fact_learner.py
  src/steamship/agents/examples/my_assistant.py
  src/steamship/utils/repl.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Introduce `ship serve local | prod`
  src/steamship/cli/cli.py
  src/steamship/cli/create_instance.py
  src/steamship/cli/local_server/server.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add back the qa service
  src/steamship/agents/examples/document_qa_agent.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

adding tests for the agent next_action bits
  src/steamship/agents/functional/functions_based.py
  src/steamship/agents/schema/chathistory.py
  src/steamship/agents/tools/image_generation/dalle.py
  tests/steamship_tests/agents/test_functions_based_agent.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

do not submit: POC of agent context persist and async status update
  src/steamship/agents/schema/context.py
  src/steamship/agents/service/agent_service.py
  tests/assets/packages/assistant_package.py
  tests/steamship_tests/agents/test_assistant.py
  tests/steamship_tests/agents/test_context.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  src/steamship/agents/mixins/transports/slack.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Move the prompt into the agent service
  src/steamship/agents/service/agent_service.py
  src/steamship/utils/repl.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

feat(agents): add functions-based agent to SDK (#454)
  src/steamship/agents/examples/my_functions_based_assistant.py
  src/steamship/agents/functional/__init__.py
  src/steamship/agents/functional/functions_based.py
  src/steamship/agents/functional/output_parser.py
  src/steamship/agents/llms/openai.py
  src/steamship/agents/schema/__init__.py
  src/steamship/agents/schema/action.py
  src/steamship/agents/schema/agent.py
  src/steamship/agents/schema/chathistory.py
  src/steamship/agents/schema/llm.py
  src/steamship/agents/service/agent_service.py
  src/steamship/agents/tools/image_generation/dalle.py
  src/steamship/data/block.py
  src/steamship/data/tags/tag_constants.py
  tests/steamship_tests/agents/test_functions_based_agent.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make sure chat history is included in the base
  src/steamship/agents/examples/my_functions_based_assistant.py
  src/steamship/agents/service/agent_service.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make sure chat history is included in the base
  src/steamship/agents/examples/my_functions_based_assistant.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make sure chat history is included in the base
  src/steamship/agents/examples/fact_learner.py
  src/steamship/agents/examples/my_assistant.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  src/steamship/cli/cli.py
  src/steamship/utils/repl.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Additional supporting test
  tests/steamship_tests/app/integration/test_get_params.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Parse output in function agent
  src/steamship/agents/functional/output_parser.py
  tests/steamship_tests/agents/test_function_agent_output_parser.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

bugfix: Parse output in FunctionsBasedOutputParser (#462)
  src/steamship/agents/functional/output_parser.py
  tests/steamship_tests/agents/test_function_agent_output_parser.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

fix(cli): version bump logic and typo
  src/steamship/cli/cli.py
  src/steamship/cli/deploy.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

feat(history): all message deletion
  src/steamship/agents/schema/chathistory.py
  tests/steamship_tests/data/test_chat.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

agents: add deprecation notice to reAct agent
  src/steamship/agents/examples/document_qa_agent.py
  src/steamship/agents/examples/example_assistant.py
  src/steamship/agents/examples/example_react_assistant.py
  src/steamship/agents/examples/fact_learner.py
  src/steamship/agents/react/react.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  src/steamship/cli/cli.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Docs
  docs/agents/index.rst
Due: proselint

Refactor the CLI to run everything
  docs/developing/index.rst
  docs/developing/running.rst
  docs/developing/updating-web-listing.rst
  src/steamship/cli/cli.py
  src/steamship/cli/local_server/handler.py
  src/steamship/cli/local_server/server.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Use cmd line flag
  src/steamship/cli/cli.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix bug on /'s in mixin route comparison
  src/steamship/invocable/package_service.py
  tests/steamship_tests/agents/test_qa_agent.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

bugfix: Mixin route comparison needs to not double leading / (#467)
  src/steamship/invocable/package_service.py
  tests/steamship_tests/agents/test_qa_agent.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pycln: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  proselint: any of: \.(md|rst)$
