Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

pycln:
  name: pycln
  entry: pycln
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

Binary
  src/steamship/plugin/tagger/__init__.py
  src/steamship/plugin/tagger/binary_tagger.py
  src/steamship/plugin/tagger/tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

add initial support for langchain on Steamship
  requirements.txt
  src/steamship/data/tag_utils.py
  src/steamship/data/tags/tag_constants.py
  src/steamship/langchain/__init__.py
  src/steamship/langchain/cache/__init__.py
  src/steamship/langchain/cache/cache.py
  src/steamship/langchain/llm/__init__.py
  src/steamship/langchain/llm/llm.py
  src/steamship/langchain/memory/__init__.py
  src/steamship/langchain/memory/conversation.py
  src/steamship/langchain/tools/__init__.py
  src/steamship/langchain/tools/search.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

add tests
  src/steamship/data/tag_utils.py
  src/steamship/langchain/cache/__init__.py
  src/steamship/langchain/llm/__init__.py
  src/steamship/langchain/memory/__init__.py
  src/steamship/langchain/tools/__init__.py
  src/steamship/langchain/tools/search.py
  tests/steamship_tests/langchain/__init__.py
  tests/steamship_tests/langchain/test_cache.py
  tests/steamship_tests/langchain/test_llm.py
  tests/steamship_tests/langchain/test_memory.py
  tests/steamship_tests/langchain/test_search_tool.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

fix spacing in test
  tests/steamship_tests/langchain/test_memory.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

convert to opinionated tooling
  src/steamship/langchain/llm/__init__.py
  src/steamship/langchain/llm/llm.py
  src/steamship/langchain/tools/__init__.py
  src/steamship/langchain/tools/search.py
  tests/steamship_tests/langchain/test_llm.py
  tests/steamship_tests/langchain/test_search_tool.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

use
  tests/steamship_tests/utils/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

remove langchain packages
  requirements.txt
  src/steamship/langchain/__init__.py
  src/steamship/langchain/cache/__init__.py
  src/steamship/langchain/cache/cache.py
  src/steamship/langchain/llm/__init__.py
  src/steamship/langchain/llm/llm.py
  src/steamship/langchain/memory/__init__.py
  src/steamship/langchain/memory/conversation.py
  src/steamship/langchain/tools/__init__.py
  src/steamship/langchain/tools/search.py
  tests/steamship_tests/langchain/__init__.py
  tests/steamship_tests/langchain/test_cache.py
  tests/steamship_tests/langchain/test_llm.py
  tests/steamship_tests/langchain/test_memory.py
  tests/steamship_tests/langchain/test_search_tool.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

remove tag_utils
  src/steamship/data/tag_utils.py
  src/steamship/data/tags/tag_constants.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add Steamship badge
  badge.svg
Due: none

Re-size badge
  badge.svg
Due: none

Add File.append and block index
  src/steamship/data/block.py
  src/steamship/data/file.py
  tests/steamship_tests/data/test_block.py
  tests/steamship_tests/data/test_file.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Replace ts-cli references with shippy
  docs/configuration/authentication.rst
  docs/configuration/cli.rst
  docs/developing/deploying.rst
  docs/developing/project-creation.rst
  docs/index.rst
  docs/packages/using.rst
Due: proselint

Minor updates
  docs/configuration/cli.rst
  docs/index.rst
  src/steamship/cli/cli.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Auto-create requirements.txt if missing
  src/steamship/cli/cli.py
  src/steamship/cli/requirements_init_wizard.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Hint for missing deps
  src/steamship/cli/deploy.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update message
  src/steamship/cli/requirements_init_wizard.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Shippy docs update (#279)
  docs/configuration/authentication.rst
  docs/configuration/cli.rst
  docs/developing/deploying.rst
  docs/developing/project-creation.rst
  docs/index.rst
  docs/packages/using.rst
  src/steamship/cli/cli.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Make manifest wizard work for plugins
  src/steamship/cli/manifest_init_wizard.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Allow for enum values to be used as config param defaults
  src/steamship/invocable/config.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  src/steamship/base/tasks.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

with test
  tests/steamship_tests/client/test_task_dependencies.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Comments
  src/steamship/base/tasks.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Improve task.wait() (#283)
  src/steamship/base/tasks.py
  tests/steamship_tests/client/test_task_dependencies.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

add tag consts for functionality used in various extension libraries (#276)
  requirements.txt
  src/steamship/data/tags/tag_constants.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[SHIP-545] Auto-create requirements.txt if missing (#280)
  src/steamship/cli/cli.py
  src/steamship/cli/deploy.py
  src/steamship/cli/requirements_init_wizard.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Allow for enum values to be used as config param defaults (#282)
  src/steamship/invocable/config.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP: Function to simulate Steamship.use without deploying a class first (#277)
  tests/steamship_tests/utils/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make manifest wizard work for plugins (#281)
  src/steamship/cli/manifest_init_wizard.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

whitespace
  CHANGELOG.rst
Due: proselint

Update task wait message
  src/steamship/base/tasks.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

SHIP IT
  src/steamship/cli/cli.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

tiny typo edits
  DEVELOPING.md
  src/steamship/data/tags/tag_constants.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Initial version of test-instance command
  src/steamship/cli/cli.py
  src/steamship/data/manifest.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

SHIP IT (#286)
  src/steamship/cli/cli.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  src/steamship/client/steamship.py
  src/steamship/utils/metadata.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Auto handle
  tests/steamship_tests/app/integration/test_use_package.py
  tests/steamship_tests/plugin/integration/test_use_plugin.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

tiny typo edits (#287)
  DEVELOPING.md
  src/steamship/data/tags/tag_constants.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

feat: add logs retrieval to ship cli
  src/steamship/cli/cli.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

move support for logs onto client
  src/steamship/base/client.py
  src/steamship/cli/cli.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[wip] feat: add decorator for prompt protection
  requirements.txt
  src/steamship/invocable/__init__.py
  src/steamship/invocable/validation.py
  tests/assets/packages/demo_package.py
  tests/steamship_tests/app/integration/test_package_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pycln: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  proselint: any of: \.(md|rst)$
