Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

pycln:
  name: pycln
  entry: pycln
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

Basic connection of deployed lambdas to fluentd container for logging
  requirements.txt
  src/steamship/app/app.py
  src/steamship/app/lambda_handler.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
  tests/assets/plugins/taggers/plugin_logging_tagger.py
  tests/tests/plugin/integration/test_e2e_logging_tagger.py
  tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Respond to comments
  src/steamship/app/lambda_handler.py
  src/steamship/app/request.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Unit test expected error responses of apps/plugins (#103)
  src/steamship/app/lambda_handler.py
  src/steamship/app/request.py
  src/steamship/app/response.py
  src/steamship/base/error.py
  tests/assets/apps/demo_app.py
  tests/assets/plugins/importers/plugin_file_importer_python_error.py
  tests/assets/plugins/importers/plugin_file_importer_steamship_error.py
  tests/tests/app/integration/test_app_error_visibility.py
  tests/utils/fixtures.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

adjust messages, set logger in blockifer
  src/steamship/app/lambda_handler.py
  src/steamship/plugin/blockifier.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

TODO on logging
  src/steamship/app/app.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Allow "none" as remote logging option
  src/steamship/app/lambda_handler.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fixes for plugin / app loggers
  src/steamship/app/app.py
  src/steamship/app/lambda_handler.py
  src/steamship/app/request.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
  tests/assets/apps/demo_app.py
  tests/assets/plugins/blockifiers/tsv_blockifier.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/tests/server/test_app_local.py
  tests/utils/fixtures.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add guard against http://test
  src/steamship/base/client.py
  tests/utils/test_client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add guard against http://test (#105)
  src/steamship/base/client.py
  tests/utils/test_client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add remote handler to root logger
  src/steamship/app/lambda_handler.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

basic instrumentation of lambdas for remote logging (#104)
  requirements.txt
  src/steamship/app/app.py
  src/steamship/app/lambda_handler.py
  src/steamship/app/request.py
  src/steamship/plugin/blockifier.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
  tests/assets/apps/demo_app.py
  tests/assets/plugins/blockifiers/tsv_blockifier.py
  tests/assets/plugins/taggers/plugin_logging_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/tests/plugin/integration/test_e2e_logging_tagger.py
  tests/tests/server/test_app_local.py
  tests/utils/deployables.py
  tests/utils/fixtures.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Pass component to remote logging
  src/steamship/app/lambda_handler.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add fluent dependency
  requirements.txt
Due: none

Add fluent-logger dependency in pyproject.toml
  pyproject.toml
  requirements.txt
Due: none

Remove passing of logger to apps and plugins
  src/steamship/app/app.py
  src/steamship/app/lambda_handler.py
  src/steamship/plugin/blockifier.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix fluent dependency (#106)
  pyproject.toml
Due: none

Add invocationContext to received requests; pipe into remote logging
  src/steamship/app/lambda_handler.py
  src/steamship/app/request.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
  tests/assets/apps/demo_app.py
  tests/assets/plugins/blockifiers/tsv_blockifier.py
  tests/assets/plugins/taggers/plugin_logging_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/tests/server/test_app_local.py
  tests/utils/fixtures.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Test
  .github/workflows/test.yml
Due: none

Whitespace
  .github/workflows/test.yml
Due: none

Separate main and staging python tests
  .github/workflows/build-docsite.yml
  .github/workflows/deploy.yml
  .github/workflows/test-main.yml
  .github/workflows/test-staging.yml
Due: none

Whitespace
  README.md
Due: proselint

Refactor
  tests/__init__.py
  tests/conftest.py
  tests/steamship_tests/__init__.py
  tests/steamship_tests/app/integration/test_app_error_visibility.py
  tests/steamship_tests/app/integration/test_app_instance.py
  tests/steamship_tests/app/integration/test_configurable_app_instance.py
  tests/steamship_tests/data/test_app_version.py
  tests/steamship_tests/plugin/integration/test_e2e_blockifier.py
  tests/steamship_tests/plugin/integration/test_e2e_configurable_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_corpus_export.py
  tests/steamship_tests/plugin/integration/test_e2e_corpus_importer.py
  tests/steamship_tests/plugin/integration/test_e2e_csv_blockifier.py
  tests/steamship_tests/plugin/integration/test_e2e_embedder.py
  tests/steamship_tests/plugin/integration/test_e2e_file_importer.py
  tests/steamship_tests/plugin/integration/test_e2e_get_training_parameters.py
  tests/steamship_tests/plugin/integration/test_e2e_logging_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_trainable_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_tsv_blockifier.py
  tests/steamship_tests/plugin/unit/test_blockifier.py
  tests/steamship_tests/plugin/unit/test_tagger.py
  tests/steamship_tests/plugin/unit/trainable/util.py
  tests/steamship_tests/utils/__init__.py
  tests/steamship_tests/utils/deployables.py
  tests/steamship_tests/utils/file.py
  tests/steamship_tests/utils/test_signed_urls.py
  tests/steamship_tests/utils/test_zip_archives.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Install dependencies
  .github/workflows/test-main.yml
  .github/workflows/test-staging.yml
Due: none

Removing some warnings
  tests/assets/plugins/importers/plugin_corpus_importer.py
  tests/assets/plugins/importers/plugin_file_importer.py
  tests/assets/plugins/taggers/plugin_parser.py
  tests/assets/plugins/taggers/plugin_third_party_trainable_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger_config.py
  tests/steamship_tests/app/integration/test_app_instance.py
  tests/steamship_tests/app/integration/test_configurable_app_instance.py
  tests/steamship_tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_trainable_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_tsv_blockifier.py
  tests/steamship_tests/plugin/unit/test_corpus_importer.py
  tests/steamship_tests/plugin/unit/test_file_importer.py
  tests/steamship_tests/plugin/unit/test_tagger.py
  tests/steamship_tests/plugin/unit/test_trainable_tagger.py
  tests/steamship_tests/plugin/unit/test_trainable_tagger_config.py
  tests/steamship_tests/plugin/unit/trainable/test_model_checkpoints.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix tests
  tests/tests/plugin/integration/test_e2e_corpus_importer.py
  tests/tests/plugin/integration/test_e2e_get_training_parameters.py
  tests/tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/tests/plugin/integration/test_e2e_trainable_tagger.py
  tests/tests/plugin/unit/test_trainable_tagger.py
  tests/tests/plugin/unit/test_trainable_tagger_config.py
  tests/tests/plugin/unit/trainable/test_model_checkpoints.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Incorporate feedback from PR
  src/steamship/data/plugin.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Clean up requests and fix client and configuration (#101)
  src/steamship/app/app.py
  src/steamship/app/request.py
  src/steamship/base/client.py
  src/steamship/base/configuration.py
  src/steamship/base/utils.py
  src/steamship/client/client.py
  src/steamship/data/file.py
  src/steamship/data/plugin.py
  src/steamship/data/plugin_instance.py
  src/steamship/data/plugin_version.py
  src/steamship/utils/signed_urls.py
  src/steamship/utils/url.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger_config.py
  tests/tests/base/test_configuration.py
  tests/tests/data/test_plugins.py
  tests/tests/plugin/integration/test_e2e_corpus_importer.py
  tests/tests/plugin/integration/test_e2e_get_training_parameters.py
  tests/tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/tests/plugin/integration/test_e2e_trainable_tagger.py
  tests/tests/plugin/unit/test_service.py
  tests/tests/plugin/unit/test_trainable_tagger.py
  tests/tests/plugin/unit/test_trainable_tagger_config.py
  tests/tests/plugin/unit/trainable/test_model_checkpoints.py
  tests/utils/test_client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Swap out BaseModel in favour of CamelModel
  src/steamship/app/app.py
  src/steamship/app/lambda_handler.py
  src/steamship/app/request.py
  src/steamship/base/tasks.py
  src/steamship/data/file.py
  src/steamship/data/user.py
  src/steamship/plugin/config.py
  src/steamship/plugin/inputs/block_and_tag_plugin_input.py
  src/steamship/plugin/inputs/raw_data_plugin_input.py
  src/steamship/plugin/outputs/block_and_tag_plugin_output.py
  src/steamship/plugin/outputs/embedded_items_plugin_output.py
  tests/assets/apps/demo_app.py
  tests/tests/app/integration/test_app_error_visibility.py
  tests/tests/app/unit/test_response.py
  tests/tests/base/test_binary_utils.py
  tests/tests/base/test_task.py
  tests/utils/fixtures.py
  tests/utils/test_enums.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Changes from PR feedback
  src/steamship/app/lambda_handler.py
  src/steamship/app/request.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Receive invocation context from Proxy, pipe this into remote logging (#107)
  src/steamship/app/app.py
  src/steamship/app/lambda_handler.py
  src/steamship/app/request.py
  src/steamship/plugin/blockifier.py
  src/steamship/plugin/service.py
  src/steamship/plugin/tagger.py
  tests/assets/apps/demo_app.py
  tests/assets/plugins/blockifiers/tsv_blockifier.py
  tests/assets/plugins/taggers/plugin_logging_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/tests/server/test_app_local.py
  tests/utils/fixtures.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Skip C901 flake8 issues
  src/steamship/app/lambda_handler.py
  src/steamship/app/response.py
  src/steamship/base/binary_utils.py
  src/steamship/base/client.py
  src/steamship/data/tags/doc_tag.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove more Test* prefixes from classes that don't contain unit tests but reside within the unit test directory
  tests/assets/apps/demo_app.py
  tests/assets/plugins/taggers/plugin_trainable_tagger_config.py
  tests/steamship_tests/app/integration/test_app_error_visibility.py
  tests/steamship_tests/plugin/unit/test_trainable_tagger_config.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Slight alterations to rid ourselves of a few warnings
  .github/workflows/test-main.yml
  .github/workflows/test-staging.yml
  requirements.dev.txt
  requirements.txt
Due: none

Remove removesuffix use (py 3.9)
  tests/steamship_tests/app/integration/test_app_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Bump requests
  requirements.dev.txt
  requirements.txt
Due: none

Install both deps and development deps with upgrade options
  .github/workflows/test-main.yml
  .github/workflows/test-staging.yml
Due: none

Install both deps and development deps with upgrade options (#114)
  .github/workflows/test-main.yml
  .github/workflows/test-staging.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pycln: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  proselint: any of: \.(md|rst)$
