Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

.pre-commit-config.yaml:

# https://pre-commit.com
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
        types: [python]
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black --line-length 100
        require_serial: true
        language: system
        types: [python]
#      - id: shellcheck
#        name: shellcheck
#        entry: shellcheck --check-sourced --shell=bash
#        language: system
#        types: [shell]
      - id: pycln
        name: pycln
        entry: pycln
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types: [python]
      - id: proselint
        name: proselint
        entry: env XDG_CONFIG_HOME=.vscode proselint
        language: system
        files: \.(md|rst)$

WIP
  docs/api/steamship.plugin.inputs.rst
  docs/workspaces/data_model/tags.rst
Due: proselint

cleanup: clarify File upload options
  docs/workspaces/uploading.rst
Due: proselint

fix: capitalization to be consistent with others
  docs/workspaces/data_model/index.rst
Due: proselint

cleanup: add Tag to file action
  docs/workspaces/data_model/files.rst
Due: proselint

fix: clarify tag requirements
  docs/workspaces/data_model/tags.rst
Due: proselint

Update configuration.rst
  docs/developing/configuration.rst
Due: proselint

Update storing-secrets.rst
  docs/developing/storing-secrets.rst
Due: proselint

Tags update
  docs/workspaces/data_model/tags.rst
Due: proselint

cleanup: clarify File upload options (#217)
  docs/workspaces/uploading.rst
Due: proselint

cleanup: add Tag to file action (#218)
  docs/workspaces/data_model/files.rst
Due: proselint

fix: clarify tag requirements (#219)
  docs/workspaces/data_model/tags.rst
Due: proselint

WIP: Documentation of File, Block, and Tag data model; a few resulting changes in the tag_constants (#220)
  docs/api/steamship.plugin.inputs.rst
  docs/workspaces/blockifying.rst
  docs/workspaces/creating.rst
  docs/workspaces/data_model/blocks.rst
  docs/workspaces/data_model/files.rst
  docs/workspaces/data_model/index.rst
  docs/workspaces/data_model/tags.rst
  docs/workspaces/importing.rst
  docs/workspaces/index.rst
  docs/workspaces/uploading.rst
  src/steamship/data/__init__.py
  src/steamship/data/tags/__init__.py
  src/steamship/data/tags/tag_constants.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Fix
  docs/workspaces/blockifying.rst
Due: proselint

Fix (#221)
  docs/workspaces/blockifying.rst
Due: proselint

Query Language
  docs/workspaces/importing.rst
  docs/workspaces/queries/index.rst
Due: proselint

Docs
  docs/configuration/authentication.rst
  docs/packages/using.rst
Due: proselint

ShipQL
  docs/workspaces/queries/index.rst
Due: proselint

Docs: Query Language (#222)
  docs/workspaces/importing.rst
  docs/workspaces/queries/index.rst
Due: proselint

Add a list method to KV Store
  src/steamship/utils/kv_store.py
  tests/steamship_tests/utils/test_kv_store.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Docs (#223)
  docs/configuration/authentication.rst
  docs/packages/using.rst
Due: proselint

test fixes
  tests/steamship_tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/steamship_tests/utils/test_kv_store.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Support Python 3.11
  requirements.txt
Due: none

WIP
  DEVELOPING.md
  docs/packages/cookbook/index.rst
  docs/packages/cookbook/receive-webhooks.rst
  src/steamship/base/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Webhooks
  docs/developing/index.rst
  docs/packages/cookbook/index.rst
  docs/packages/cookbook/modifying-an-existing-package.rst
  docs/packages/cookbook/receive-webhooks.rst
  docs/packages/cookbook/receiving-webhooks.rst
  docs/packages/developing/index.rst
  docs/packages/using.rst
Due: proselint

Cookbook
  docs/packages/cookbook/index.rst
Due: proselint

Webhook Recipe (#227)
  DEVELOPING.md
  docs/developing/index.rst
  docs/packages/cookbook/index.rst
  docs/packages/cookbook/modifying-an-existing-package.rst
  docs/packages/cookbook/receiving-webhooks.rst
  docs/packages/developing/index.rst
  docs/packages/using.rst
  src/steamship/base/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

test fixes (#225)
  tests/steamship_tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/steamship_tests/utils/test_kv_store.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Support Python 3.11 (#226)
  requirements.txt
Due: none

RST Bug
  docs/packages/cookbook/receiving-webhooks.rst
Due: proselint

Refresh updates self object
  src/steamship/data/file.py
  tests/steamship_tests/data/test_file.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make pycln happy again
  tests/assets/plugins/importers/plugin_file_importer.py
  tests/assets/plugins/importers/plugin_file_importer_by_url.py
  tests/assets/plugins/importers/plugin_file_importer_python_error.py
  tests/assets/plugins/taggers/plugin_embedder.py
  tests/assets/plugins/taggers/plugin_logging_tagger.py
  tests/assets/plugins/taggers/plugin_parser.py
  tests/assets/plugins/taggers/plugin_third_party_trainable_tagger.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make black happy again
  tests/steamship_tests/plugin/unit/test_service.py
  tests/steamship_tests/utils/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

make sure refreshed file has client reference
  src/steamship/data/file.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

One constant for test profile
  tests/steamship_tests/utils/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix SHIP-479
  src/steamship/data/tags/tag.py
  tests/steamship_tests/data/tags/test_file_tags.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Lint
  src/steamship/data/tags/tag.py
  tests/assets/plugins/importers/plugin_file_importer.py
  tests/assets/plugins/importers/plugin_file_importer_by_url.py
  tests/assets/plugins/importers/plugin_file_importer_python_error.py
  tests/assets/plugins/taggers/plugin_embedder.py
  tests/assets/plugins/taggers/plugin_logging_tagger.py
  tests/assets/plugins/taggers/plugin_parser.py
  tests/assets/plugins/taggers/plugin_third_party_trainable_tagger.py
  tests/steamship_tests/data/tags/test_file_tags.py
  tests/steamship_tests/plugin/unit/test_service.py
  tests/steamship_tests/utils/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Write empty requirements in test deployments
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

[SHIP-461] Refresh updates self object (no need to reassign to variable) (#228)
  src/steamship/data/file.py
  tests/assets/plugins/importers/plugin_file_importer.py
  tests/assets/plugins/importers/plugin_file_importer_by_url.py
  tests/assets/plugins/importers/plugin_file_importer_python_error.py
  tests/assets/plugins/taggers/plugin_embedder.py
  tests/assets/plugins/taggers/plugin_logging_tagger.py
  tests/assets/plugins/taggers/plugin_parser.py
  tests/assets/plugins/taggers/plugin_third_party_trainable_tagger.py
  tests/steamship_tests/data/test_file.py
  tests/steamship_tests/plugin/unit/test_service.py
  tests/steamship_tests/utils/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Write empty requirements in test deployments (#230)
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Split parts of lambda handler, add new handler for our code loading first
  src/steamship/data/package/package_version.py
  src/steamship/invocable/lambda_handler.py
  tests/assets/packages/safe_loaded_bad_import.pyignore
  tests/assets/packages/safe_loaded_hello_world.py
  tests/assets/plugins/taggers/plugin_parser.py
  tests/assets/plugins/taggers/plugin_tagger_bad_import.pyignore
  tests/steamship_tests/app/integration/test_safe_hello_world.py
  tests/steamship_tests/app/integration/test_safe_loaded_package_with_bad_import.py
  tests/steamship_tests/plugin/integration/test_e2e_tagger.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle
