Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

pycln:
  name: pycln
  entry: pycln
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

check block is text
  src/steamship/agents/schema/text_splitters.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update demo_package_spec.json
  tests/assets/demo_package_spec.json
Due: none

Add Vector memory to Agents (#432)
  src/steamship/agents/react/react.py
  src/steamship/agents/schema/agent.py
  src/steamship/agents/schema/chathistory.py
  src/steamship/agents/schema/text_splitters.py
  src/steamship/data/plugin/index_plugin_instance.py
  tests/steamship_tests/agents/test_message_formatting.py
  tests/steamship_tests/data/test_chat.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

chore: add release bot
  .github/workflows/notify-of-release.yml
Due: none

fix: use improved package
  .github/workflows/notify-of-release.yml
Due: none

Keep track of already registered mixins (#436)
  src/steamship/base/package_spec.py
  src/steamship/invocable/invocable.py
  src/steamship/invocable/package_service.py
  tests/assets/demo_package_spec.json
  tests/steamship_tests/app/unit/test_mixins.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

feat(functions): add support for mapping tools to openai functions (#435)
  src/steamship/agents/schema/functions.py
  src/steamship/agents/schema/tool.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  src/steamship/agents/mixins/transports/slack.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Port fix
  src/steamship/cli/cli.py
  src/steamship/cli/local_server/handler.py
  src/steamship/cli/local_server/server.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Trailing slash
  src/steamship/cli/local_server/handler.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

add ability to delete packages plugins and their versions
  src/steamship/data/package/package.py
  src/steamship/data/package/package_version.py
  src/steamship/data/plugin/plugin.py
  src/steamship/data/plugin/plugin_version.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

When using ngrok, don't append the local port to `invocable_url` (#441)
  src/steamship/cli/cli.py
  src/steamship/cli/local_server/handler.py
  src/steamship/cli/local_server/server.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

chore: add release bot (#438)
  .github/workflows/notify-of-release.yml
Due: none

add docs on calling plugins over HTTP
  docs/api/steamship.agents.memory.rst
  docs/api/steamship.agents.rst
  docs/api/steamship.agents.schema.rst
  docs/plugins/using/index.rst
Due: proselint

Hotfix ship serve for default params
  src/steamship/cli/create_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update collecting-and-querying-sentiment.rst
  docs/packages/cookbook/collecting-and-querying-sentiment.rst
Due: proselint

Update docs; turn into test
  docs/packages/developing/project-structure.rst
  tests/assets/packages/example_project_structure.py
  tests/steamship_tests/app/integration/test_example_project_structure.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Update example_project_structure.py
  tests/assets/packages/example_project_structure.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update test_e2e_mixins_indexer_pipeline.py
  tests/steamship_tests/app/integration/test_e2e_mixins_indexer_pipeline.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

wip
  tests/assets/packages/configurable_hello_world.py
  tests/steamship_tests/app/integration/test_configurable_package_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

cleanup
  docs/plugins/using/index.rst
Due: proselint

WIP
  src/steamship/agents/examples/document_qa_agent.py
  tests/steamship_tests/app/integration/test_document_qa_example.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Test presence of relevant routes
  tests/steamship_tests/app/integration/test_document_qa_example.py
  tests/steamship_tests/app/unit/test_document_qa_example.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update Long Running / Flaky test (#447)
  tests/steamship_tests/app/integration/test_e2e_mixins_indexer_pipeline.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

reenable rest of test
  tests/steamship_tests/app/integration/test_configurable_package_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

remove logging line
  tests/assets/packages/configurable_hello_world.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update docs for Example Package Structure (#446)
  docs/packages/developing/project-structure.rst
  tests/assets/packages/example_project_structure.py
  tests/steamship_tests/app/integration/test_example_project_structure.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Document QA agent update and test (#448)
  src/steamship/agents/examples/document_qa_agent.py
  tests/steamship_tests/app/unit/test_document_qa_example.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update Sentiment Docs (#445)
  docs/packages/cookbook/collecting-and-querying-sentiment.rst
Due: proselint

Change PDF target again; fix logging error that showed up when the doc could not be fetched
  src/steamship/invocable/mixins/file_importer_mixin.py
  tests/steamship_tests/app/integration/test_e2e_mixins_indexer_pipeline.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Allow mixin subclasses to override the routes of their parent classes
  src/steamship/invocable/invocable.py
  tests/steamship_tests/app/unit/test_mixins.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix index pipeline mixin test again (#452)
  src/steamship/invocable/mixins/file_importer_mixin.py
  tests/steamship_tests/app/integration/test_e2e_mixins_indexer_pipeline.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

docs: add info on calling plugins over HTTP (#443)
  docs/api/steamship.agents.memory.rst
  docs/api/steamship.agents.rst
  docs/api/steamship.agents.schema.rst
  docs/plugins/using/index.rst
Due: proselint

fix(docs): reported issue with example packages
  docs/api/steamship.agents.mixins.rst
  docs/api/steamship.agents.mixins.transports.rst
  docs/api/steamship.agents.tools.video_generation.rst
  docs/api/steamship.invocable.mixins.rst
  docs/api/steamship.rst
  docs/conf.py
  docs/packages/cookbook/adding-configuration.rst
  docs/packages/cookbook/article-tagging.rst
  tests/assets/packages/adding_configuration.py
  tests/assets/packages/article_tagging.py
  tests/steamship_tests/app/integration/test_adding_configuration.py
  tests/steamship_tests/app/integration/test_article_tagging.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Allow mixin subclasses to override the routes of their parent classes (#453)
  src/steamship/invocable/invocable.py
  tests/steamship_tests/app/unit/test_mixins.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

fix(docs): reported issue with example packages (#455)
  docs/api/steamship.agents.mixins.rst
  docs/api/steamship.agents.mixins.transports.rst
  docs/api/steamship.agents.tools.video_generation.rst
  docs/api/steamship.invocable.mixins.rst
  docs/api/steamship.rst
  docs/conf.py
  docs/packages/cookbook/adding-configuration.rst
  docs/packages/cookbook/article-tagging.rst
  tests/assets/packages/adding_configuration.py
  tests/assets/packages/article_tagging.py
  tests/steamship_tests/app/integration/test_adding_configuration.py
  tests/steamship_tests/app/integration/test_article_tagging.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Hotfix ship use
  src/steamship/cli/create_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Add ship prod and ship local cli commands
  src/steamship/cli/cli.py
  src/steamship/cli/local_server/handler.py
  src/steamship/cli/local_server/server.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Revert "Add ship prod and ship local cli commands"
  src/steamship/cli/cli.py
  src/steamship/cli/local_server/handler.py
  src/steamship/cli/local_server/server.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix local server
  src/steamship/cli/local_server/server.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pycln: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  proselint: any of: \.(md|rst)$
