Repository steamship-core/python-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pycln, flake8, mypy, pydocstyle, proselint

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

pycln:
  name: pycln
  entry: pycln
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

[SHIP-445] Adds a `GET /__dir__` method to all packages. (#128)
  src/steamship/base/package_spec.py
  src/steamship/invocable/invocable.py
  tests/assets/demo_package_spec.json
  tests/assets/packages/demo_package.py
  tests/steamship_tests/app/integration/test_package_instance.py
  tests/steamship_tests/app/unit/test_demo_app_spec.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Change output of plugininstance.train
  src/steamship/data/file.py
  src/steamship/data/plugin_instance.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Updates
  docs/developing/index.rst
  docs/index.rst
  docs/packages/index.rst
Due: proselint

Docs feedback (#188)
  docs/developing/index.rst
  docs/developing/steamship-manifest.rst
  docs/index.rst
  docs/packages/index.rst
  docs/workspaces/index.rst
Due: proselint

Add test that uses Tag.create
  tests/steamship_tests/data/tags/test_file_tags.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Make sure `Tag.create` is tested (#190)
  tests/steamship_tests/data/tags/test_file_tags.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

respond to comments
  src/steamship/utils/kv_store.py
  tests/steamship_tests/utils/test_key_value_store.py
  tests/steamship_tests/utils/test_kv_store.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Helper KV Store class & Tests (in test folder; not in main client) (#147)
  src/steamship/utils/kv_store.py
  tests/steamship_tests/utils/test_kv_store.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

error to warning
  src/steamship/base/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Partially fix circular dependencies
  src/steamship/base/client.py
  src/steamship/base/tasks.py
  src/steamship/client/__init__.py
  src/steamship/client/steamship.py
  src/steamship/data/__init__.py
  src/steamship/data/file.py
  src/steamship/data/package/__init__.py
  src/steamship/data/package/package.py
  src/steamship/data/package/package_instance.py
  src/steamship/data/package/package_version.py
  src/steamship/data/plugin/__init__.py
  src/steamship/data/plugin/hosting.py
  src/steamship/data/plugin/plugin.py
  src/steamship/data/plugin/plugin_instance.py
  src/steamship/data/plugin/plugin_version.py
  tests/steamship_tests/client/operations/test_embedding_index.py
  tests/steamship_tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_trainable_tagger.py
  tests/steamship_tests/utils/client.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Rename last app references to package
  src/steamship/base/client.py
  src/steamship/data/package/package_instance.py
  src/steamship/invocable/lambda_handler.py
  tests/steamship_tests/app/integration/test_use_package.py
  tests/steamship_tests/app/unit/test_demo_app_spec.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

stuff
  src/steamship/base/client.py
  src/steamship/data/file.py
  src/steamship/data/package_instance.py
  src/steamship/data/plugin_instance.py
  tests/steamship_tests/app/integration/test_use_package.py
  tests/steamship_tests/client/test_client.py
  tests/steamship_tests/data/test_file.py
  tests/steamship_tests/plugin/integration/test_use_plugin.py
  tests/steamship_tests/utils/client.py
  tests/steamship_tests/utils/test_kv_store.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

fix typo
  src/steamship/base/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Partially solve circular dependencies (#192)
  src/steamship/base/client.py
  src/steamship/base/tasks.py
  src/steamship/client/__init__.py
  src/steamship/client/steamship.py
  src/steamship/data/__init__.py
  src/steamship/data/file.py
  src/steamship/data/package/__init__.py
  src/steamship/data/package/package.py
  src/steamship/data/package/package_instance.py
  src/steamship/data/package/package_version.py
  src/steamship/data/plugin/__init__.py
  src/steamship/data/plugin/hosting.py
  src/steamship/data/plugin/plugin.py
  src/steamship/data/plugin/plugin_instance.py
  src/steamship/data/plugin/plugin_version.py
  tests/steamship_tests/client/operations/test_embedding_index.py
  tests/steamship_tests/plugin/integration/test_e2e_third_party_trainable_tagger.py
  tests/steamship_tests/plugin/integration/test_e2e_trainable_tagger.py
  tests/steamship_tests/utils/client.py
  tests/steamship_tests/utils/deployables.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Rename last app references to package (#193)
  src/steamship/base/client.py
  src/steamship/data/package/package_instance.py
  src/steamship/invocable/lambda_handler.py
  tests/steamship_tests/app/integration/test_use_package.py
  tests/steamship_tests/app/unit/test_demo_app_spec.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Rename n_tries to tries in HF helper (#186)
  src/steamship/utils/huggingface_helper.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

File.list, get return types, and fix for test harness (#194)
  src/steamship/data/file.py
  src/steamship/data/package/package_instance.py
  src/steamship/data/plugin/plugin_instance.py
  tests/steamship_tests/app/integration/test_use_package.py
  tests/steamship_tests/client/test_client.py
  tests/steamship_tests/data/test_file.py
  tests/steamship_tests/plugin/integration/test_use_plugin.py
  tests/steamship_tests/utils/client.py
  tests/steamship_tests/utils/test_kv_store.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Fix bug
  src/steamship/data/tags/tag_constants.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Small bug in DocTag parsing (#195)
  src/steamship/data/tags/tag_constants.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

WIP
  docs/api/steamship.app.rst
  docs/api/steamship.base.rst
  docs/api/steamship.client.rst
  docs/api/steamship.invocable.rst
  docs/api/steamship.plugin.rst
  docs/api/steamship.rst
  docs/api/steamship.utils.rst
  docs/changelog._rst
  docs/conf.py
  docs/configuration/authentication.rst
  docs/configuration/cli.rst
  docs/configuration/http.rst
  docs/configuration/index.rst
  docs/configuration/python.rst
  docs/index.rst
  docs/packages/developing/cookbook.rst
  docs/packages/developing/developing-packages.rst
  docs/packages/developing/index.rst
  docs/packages/index.rst
  docs/packages/using.rst
  docs/plugins/developing/blockifiers.rst
  docs/plugins/developing/embedders.rst
  docs/plugins/developing/importers.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/taggers.rst
  docs/plugins/importers/index.rst
  docs/plugins/importers/using.rst
  docs/plugins/index.rst
  docs/requirements.txt
  docs/rst_conventions.md
  src/steamship/base/client.py
  src/steamship/invocable/invocable.py
Due: isort, black, pycln, flake8, mypy, pydocstyle, proselint

Update docs
  docs/configuration/authentication.rst
  docs/configuration/cli.rst
  docs/configuration/http.rst
  docs/configuration/python.rst
  docs/developing/configuration.rst
  docs/developing/deploying.rst
  docs/developing/environment-setup.rst
  docs/developing/index.rst
  docs/developing/project-creation.rst
  docs/developing/steamship-manifest.rst
  docs/developing/storing-secrets.rst
  docs/developing/testing.rst
  docs/index.rst
  docs/packages/cookbook/how-to-upload-files.rst
  docs/packages/cookbook/index.rst
  docs/packages/developing/cookbook.rst
  docs/packages/developing/index.rst
  docs/packages/developing/project-structure.rst
  docs/packages/index.rst
  docs/plugins/blockifiers/developing.rst
  docs/plugins/blockifiers/using.rst
  docs/plugins/developing/async-plugins.rst
  docs/plugins/developing/blockifiers.rst
  docs/plugins/developing/index.rst
  docs/plugins/developing/project-structure.rst
  docs/plugins/importers/using.rst
  docs/plugins/index.rst
  docs/plugins/taggers/using.rst
  docs/rst_conventions.txt
  docs/workspaces/creating.rst
  docs/workspaces/uploading.rst
Due: proselint

Stuff
  docs/api/steamship.invocable.rst
Due: proselint

Doc updates
  docs/index.rst
  docs/packages/cookbook/how-to-upload-files.rst
  docs/packages/cookbook/how-to-upload-markdown.rst
  docs/packages/cookbook/index.rst
  docs/workspaces/uploading.rst
Due: proselint

Update semantics to use default, rather than auto-generated, names
  src/steamship/client/steamship.py
  tests/steamship_tests/app/integration/test_use_package.py
  tests/steamship_tests/plugin/integration/test_use_plugin.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Use default light theme
  docs/conf.py
  docs/requirements.txt
Due: isort, black, pycln, flake8, mypy, pydocstyle

Use default theme
  docs/conf.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Directions
  docs/README.txt
  docs/building-documentation.txt
  docs/rst_conventions.txt
Due: none

Update markdown example
  docs/packages/cookbook/how-to-extract-outline-from-markdown.rst
  docs/packages/cookbook/how-to-upload-markdown.rst
  docs/packages/cookbook/index.rst
  docs/packages/developing/index.rst
Due: proselint

Add collecting and querying sentiment
  docs/packages/cookbook/collecting-and-querying-sentiment.rst
  docs/packages/cookbook/how-to-extract-outline-from-markdown.rst
  docs/packages/cookbook/how-to-upload-files.rst
  docs/packages/cookbook/index.rst
Due: proselint

Classification recipe
  docs/packages/cookbook/article-tagging.rst
  docs/packages/cookbook/collecting-and-querying-sentiment.rst
  docs/packages/cookbook/how-to-extract-outline-from-markdown.rst
  docs/packages/cookbook/index.rst
Due: proselint

Remove <link>s
  docs/packages/cookbook/article-tagging.rst
  docs/packages/cookbook/collecting-and-querying-sentiment.rst
  docs/packages/cookbook/how-to-extract-outline-from-markdown.rst
Due: proselint

Remove invalid todo
  docs/packages/cookbook/article-tagging.rst
Due: proselint

Generalize Configuration section for packages and plugins
  docs/developing/configuration.rst
  docs/packages/developing/index.rst
Due: proselint

Rename reuse to fetch_if_exists
  src/steamship/client/steamship.py
  tests/steamship_tests/utils/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Respond to meeting discussion
  src/steamship/client/steamship.py
  tests/steamship_tests/app/integration/test_use_package.py
  tests/steamship_tests/plugin/integration/test_use_plugin.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Update use/use_plugin semantics to have name defaults (#197)
  docs/requirements.txt
  src/steamship/client/steamship.py
  tests/steamship_tests/app/integration/test_use_package.py
  tests/steamship_tests/plugin/integration/test_use_plugin.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Remove TrainStatusPluginInput
  src/steamship/base/client.py
  src/steamship/plugin/inputs/train_status_plugin_input.py
  tests/assets/plugins/taggers/plugin_third_party_trainable_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger.py
  tests/assets/plugins/taggers/plugin_trainable_tagger_config.py
  tests/steamship_tests/plugin/unit/test_service.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

remove autogen code
  src/steamship/base/client.py
Due: isort, black, pycln, flake8, mypy, pydocstyle

Documentation - Generalize Configuration section for packages and plugins (#199)
  docs/developing/configuration.rst
  docs/packages/developing/index.rst
Due: proselint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pycln: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  proselint: any of: \.(md|rst)$
